.effect-fade {
    animation: fadeAndScale 2.7s cubic-bezier(0.39, -1.05, 0.58, 1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom;
}

.effect-fade-2 {
    animation: fadeAndScale .9s cubic-bezier(0.39, -1.05, 0.58, 1.95);
    animation-delay: -0.5s;
    transform-origin: center center;
}

@keyframes fadeAndScale {
    0% {
        opacity: 0;
        transform: scale3d(0.75, 0.75, 1);
    }
    70% {
        opacity: 0;
        transform: scale3d(0.75, 0.75, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
