.contenido-habilidades{
    h2{
        color: $blanco;
        text-align: center;
        font-weight: $regular;
        font-size: $separacion/1.5;
        margin-top: $separacion/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::after {
            content: "";
            display: block;
            width: 30rem;
            height: 0.2rem;
            background-color: $blanco;
        }
    }
    .iconos-habilidades{
        margin-top: $separacion;
        .skill{
            border-radius: 1rem;
            width: 10rem;
            cursor: pointer;
            img{
                border-radius: 1rem
            }
            @include tablet{
                width: 18rem;
            }
        }
        @include grid(2, $separacion/2);
        @include tablet{
            margin-top: $separacion*2;
            @include grid(3, $separacion);
        }
        @include desktop{
            @include grid(4, $separacion);
        }
    }
}

.descripcion-skill{
    background-color: rgba($blanco, .8);
    height: auto;
    width: 30rem;
    border-radius: 2rem;
    padding:0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        text-align: center;
        margin:$separacion/3 0;
    }
    p{
        color: $negro;
        font-size: 2rem;
        margin-bottom: $separacion;
        text-align: center;
    }
}

.overlay-skill{
    position: fixed;
    background-color: rgba($color: $negro, $alpha: .5);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $separacion/2;
    z-index: 5;
}