.row {
    position: fixed;
    width: 100%;
    padding: $separacion/2 0;
    margin-top: $separacion/3;
    display: flex;
    align-items: center;
    z-index: 10000;
    .contenido-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include desktop{
        margin-top: 0;
    }
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toggler,
    .hamburguer {
        @include desktop {
            display: none;
        }
    }
}

.lista-navegacion {
    position: fixed;
    top: 0;
    left: 0;
    transition: .6s;
    width: 100vw;
    height: 100vh;
    background-color: rgba($negro, .9);
    margin: 0;
    padding: 0;
    transform: translateX(150%);
    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include desktop {
        background-color: transparent;
        transform: translateX(0%);
        visibility: visible;
        position: static;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        visibility: visible;
        display: flex;
        flex-direction: row;
    }
    li {
        a {
            color: $blanco;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: $regular;
            @include desktop{
                font-size: 2.3rem;
                --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
                &::after{
                    content: '';
                    background-color: $blanco;
                    width: 100%;
                    height: .3rem;
                    display: block;
                    margin-top: -.5rem;
                    clip-path: var(--clippy);
                    transition: clip-path .4s;
                }
                &:hover{
                    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
    }
}

.toggler {
    position: absolute;
    right: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.hamburguer {
    display: flex;
    position: absolute;
    right: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: $verde;
    justify-content: center;
    align-items: center;
    z-index: 1;
    div {
        position: absolute;
        width: 60%;
        height: 0.3rem;
        border-radius: 1.5px;
        background-color: $blanco;
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.3rem;
            border-radius: 1.5px;
            background-color: $blanco;
        }
        &::before{
            top: -1rem;
        }
        &::after{
            top: 1rem;
        }
    }
}

.toggler:checked~ .lista-navegacion{
    visibility: visible;
    transform: translateX(0%);
}

.fijo{
    @include desktop{
        background-color: darken($negro, 4);
        width: 100%;
    }
}

.none{
    display: none;
    @include desktop{
        display: inline-block;
    }
}