.portafolio {
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
        color: $blanco;
        font-weight: $regular;
        font-size: $separacion/1.5;
        margin-top: $separacion/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::after {
            content: "";
            display: block;
            width: 30rem;
            height: 0.2rem;
            background-color: $blanco;
        }
    }
}

.apartado-portafolio {
    margin-top: $separacion/1.5;
    @include grid(1, $separacion);
    @include tablet {
        @include grid(2, $separacion/2);
    }
    @include desktop {
        @include grid(4, $separacion/2);
    }
    .proyecto {
        padding-bottom: 2rem;
        display: flex;//agregado
        gap: 1rem;//agregado
        flex-direction: column-reverse;//agregado
        background-color: darken($negro, 3);//agregado
        @include desktop {
            padding-bottom: 0;
            display: block;
            position: relative;
            &:hover {
                .datos-proyecto {
                    height: 100%;
                }
                .enlaces,
                .iconos {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .imagen {
            width: auto;
            height: 100%;
        }
    }
}

.datos-proyecto {
    background-color: darken($negro, 3);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
        background-color: rgba($negro, 0.7);
        position: absolute;
        transition: height 1s ease;
        height: 0;
    }
    .iconos {
        margin-bottom: $separacion/2;
        display: flex;
        gap: 0.5rem;
        picture {
            width: $separacion/1.5;
            height: $separacion/1.5;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include desktop {
            opacity: 0;
            visibility: hidden;
            transition: all 1s ease;
        }
    }
    .enlaces {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include desktop {
            transition: all 1s ease;
            opacity: 0;
            visibility: hidden;
        }
        a {
            display: inline-block;
            color: $negro;
            text-align: center;
            font-size: 1.6rem;
            padding: 0.5rem $separacion;
            border-radius: 2px;
            background-color: $blanco;
            transition: all 0.5s ease;
            &:hover {
                background-color: $verde;
                color: $blanco;
            }
            @include desktop{
                padding: 0.5rem $separacion/2;
            }
        }
    }
}
