.main {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;//poner en javascript
    @include tablet {
        flex-direction: row;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

::-webkit-scrollbar{
    display: none;
}